<div class="container-fluid">
  <nav class="navbar navbar-expand-lg ">
      <ul class="nav navbar-nav">
          <li class="nav-item"> 
              <a routerLinkActive="active" class="nav-link" routerLink="list">List</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" routerLink="create">Create</a>
          </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>









<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLinkActive="active" class="nav-link" routerLink="list">List</a>

      </li><div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLinkActive="active" routerLink="list">List</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="create">Create</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="create">Create</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->